<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-error-message [message]="error"></app-error-message>
            <div class="col-lg-6 col-md-12" *ngFor="let actu of actualites">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{actu.publication.label}}</h4>
                        <p class="card-category"> {{actu.publication.publicationDate}}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <p>
                            {{actu.publication.author}}
                        </p>
                    </div>
                    <div>

                        <button class="btn btn-link" (click)="takeCommentaire(actu)">
                            <span *ngIf="!actu.showComment" >Voir les commentaires</span>
                            <span *ngIf="actu.showComment" >Cacher les commentaires</span>
                        </button>

                        <div *ngIf="actu.showComment && actu.comments.length===0" class="card-body table-responsive">
                            <p>
                                Aucun commentaire
                            </p>
                        </div>
                        <table class="table" *ngIf="actu.showComment && actu.comments.length!==0">
                            <tbody>
                            <tr *ngFor="let comment of actu.comments">
                                <td>
                                    {{comment.comment}}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Saisir votre commentaire ici"
                                              [(ngModel)]="actu.commentaire"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="createComment(actu)">Commenter
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
