<div  *ngIf="message" class="center">
  <div class="w-full sm:w-5/6">
    <div class="p-4 mb-4 text-sm alert alert-danger text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
         role="alert">
      {{message}}
    </div>
  </div>
</div>
