<div class="main-content">
  <div class="container-fluid">
      <div class="">
          <div class="col-md-8">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="../../../../assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{user.name}}</h6>
                      <h4 class="card-title">{{user.firstname}}</h4>
                      <p class="card-description">
                        Date naissance: {{user.birthday}}
                      </p>
                      <p class="card-description">
                          CIN: {{user.idcard}}
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
