<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, TPTransversale.
        </div>
    </div>
</footer>
