<div>
    <app-error-message [message]="error"></app-error-message>
    <h4>{{projet.projet.title}}</h4>
    <p>{{projet.projet._description}}</p>
    <div class="row" style="margin-top: 5%;">
        <div class="col-lg-6 col-md-12">
            <button class="btn btn-warning " style="text-align: center;" (click)="voting(1)">
               OUI

            </button>
        </div>
        <div class="col-lg-6 col-md-12">
            <button class="btn btn-primary" (click)="voting(0)" >
                NON
            </button>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-danger btn-block" (click)="cancel()" >
            Annuler
        </button>
    </div>
</div>