<div class="page">
    <div class="signin">
        <div class="back-img">
            <div class="sign-in-text">
                <h2 class="active">Sign In</h2>
            </div><!--/.sign-in-text-->
            <div class="layer">
            </div><!--/.layer-->
            <p class="point">&#9650;</p>
        </div><!--/.back-img-->
        <div class="form-section">

            <app-error-message [message]="error"></app-error-message>

            <form action="#">
                <input class="mdl-textfield__input" type="email"  placeholder="123456789"  [(ngModel)]="user.idcard">
                <input pattern=".{8,}" class="mdl-textfield__input" type="password" placeholder="12345678" [(ngModel)]="user.password">
            </form>
        </div>
        <!--/.form-section-->
        <button class="sign-in-btn btn-danger " (click)="onSubmit()" >
            Sign In
        </button>
        <!--/button-->

    </div><!--/.signin-->
</div>