.page{
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
  }
  /*Sign In Form*/
  .signin{
    
    position: relative;
    height: 700px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 30px 125px -5px #000;}
  /*Background Img*/
  .back-img{
    position: relative;
    width: 100%;
    height: 250px;
    background: url('https://th.bing.com/th/id/R.62ee2f8af9803b8cb3afa7726c017052?rik=yNUxNl2fFiPfrw&pid=ImgRaw&r=0')no-repeat   center center;
  background-size: cover;
  }
  .layer {
      background-color: rgba(33,150,243,0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .active{
    padding-left: 25px;
    color: #fff;
  }
  .nonactive {
    color: rgba(255, 255, 255, 0.6);
  }
  .sign-in-text{
    top: 175px;
    position: absolute;
    z-index: 1;
  }
  h2 {
    padding-left: 15px;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
  }
  .point{
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 235px;
    padding-left: 50px;
    font-size: 20px;
  }
  
  /*form-section*/
  .form-section{
    padding: 70px 90px 70px 90px;
    margin-top: 20px;
  }
  .keep-text{
    font-size: 15px;
    color: #BDBDBD;
  }
  .forgot-text{
    font-size: 12px;
    color: #BDBDBD;
    text-align: right;
  }
  /*sign-in-btn*/
  .sign-in-btn{
    width: 100%;
    height: 75px;
    position:absolute;
    bottom:0;
    border-radius: 0px;
    color:#fff;
    background-color: #ea1c0d;
  }
  
  .form-section input {
    border: none;
    width: 80%;
    height: 50px;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}