<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des projets</h4>
                    </div>

                    <app-error-message [message]="error"></app-error-message>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Titre
                                </th>
                                <th>
                                    Categorie
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Budget
                                </th>
                                <th>
                                    Date debut
                                </th>
                                <th>
                                    Date fin
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let projet of projets" >
                                    <td>
                                        {{projet.title}}
                                    </td>
                                    <td>
                                        {{projet.projetCategory.label}}
                                    </td>
                                    <td>
                                        {{projet._description}}
                                    </td>
                                    <td class="text-primary">
                                        {{projet.budget}} Ariary
                                    </td>
                                    <td>
                                        {{projet.startDate}}
                                    </td>
                                    <td>
                                        {{projet.dueDate}}
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
