.logo{
    background-image: url('https://th.bing.com/th/id/R.62ee2f8af9803b8cb3afa7726c017052?rik=yNUxNl2fFiPfrw&pid=ImgRaw&r=0');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
  