<div class="logo">
    <a href="" class="simple-text" style="color:#fff">
       <!-- <div class="logo-img">
            <img src="https://th.bing.com/th/id/R.33adbc1807664583bf689db61d53e588?rik=CXc9MFUD0JQhGw&riu=http%3a%2f%2fwww.drapeaux-du-monde.fr%2fdrapeaux-du-monde%2f3000%2fdrapeau-madagascar.jpg&ehk=dgrkeSqaQ6rA2cl1Wwu2kvb5cVwKDmRdXjO7j11l37E%3d&risl=&pid=ImgRaw&r=0"/>
        </div>-->
  
            E-gouvernance
        
    </a>
</div>
<div class="sidebar-wrapper">
  
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
