<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12" *ngFor="let projet of projetVotes">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{projet.projet.title}}</h4>
                        <p class="card-category">{{projet.projet.startDate}} - {{projet.projet.dueDate}}</p>
                    </div>
                    <div class="card-body table-responsive" style="text-align: center;">

                        <h5>
                            Total des participants actuels: {{projet.totalVote}} personnes
                        </h5>

                        <div class="row" style="margin-top: 5%;">
                            <div class="col-lg-6 col-md-12">
                                <div class="card-header card-header-warning" style="text-align: center;">
                                    <h4 class="card-title">OUI</h4>
                                    <p class="card-category">{{projet.forVote}} personnes</p>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card-header card-header-primary" style="text-align: center;">
                                    <h4 class="card-title">NON</h4>
                                    <p class="card-category"> {{projet.totalVote - projet.forVote}} personnes</p>
                                </div>
                            </div>
                        </div>
                        <!--                        <div  class="row" style="margin-top: 5%;text-align: center;">-->
                        <h4 style="margin-top: 5%">
                            <span *ngIf="projet.canVote">
                                <button (click)="openDialog(projet)"
                                        class="card-header card-header-danger"> Voter </button>
                            </span>

                            <span *ngIf="!projet.canVote">
                                Vous avez déjà voté
                            </span>

                        </h4>
                        <!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  